* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
body {
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;


    }

.title {
   background-color: white;
   position: left;
   padding-top: 5px;
   padding-right: 5px;
   padding-bottom: 5px;
   padding-left: 50px;
}
.header {

    background-color: black;
    color: #ffffff;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 0px;
    
}
.header h1 {
    display: inline;
    font-size: 40px;
    color: black;
   
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    
}
.header div ul {
    
    list-style-type: none;
    
    
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
    padding: 0 10px;
    
}

.header div ul li a {
    color: #ffffff;
    text-decoration:none;
    border-bottom: 3px solid white;
    padding-bottom: 3px;
    
    
}

/* Container holding the image and the text */
.container {
    position: relative;
    max-width: 100%;
    
  }
  
  /* Text box inside of image */
  .text-box {
    position: absolute;
    bottom: 50px;
    right: 20px;
    background-color: white;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
  }



  .container1 {
    display: flex;
    margin-top: 30px;

    
  }
  .aboutme {
    font-size: 55px;
    flex-wrap: wrap;
    margin-left: 60px;
    margin-right: 10px;
    text-align: right;

  }

  .aboutmeinfo {
    font-size: 20px;
    flex-wrap: wrap;
    margin-left: 15px;
    margin-right: 60px;
    border-left:  solid;
    padding-left: 15px;
  }

  .container2 {
    display: flex;
    margin-top: 40px;
  }
.work {
    font-size: 55px;
    margin-left: 80px;
    margin-right: 12px;
    text-align: right;
}
.workimage1 {
    border-left: solid;
    padding-left: 15px;
    margin-left: 15px;

}


